
			*
			{
				text-align: center;
				list-style-position: inside;
				padding-left: 0;
			}
			h1
			{
				font-size: 50px;
			}
h1
{
	background-color: LightSkyBlue;
}
h2
{
	background-color: darkgray;
}
header
{
	background-color:  darkslategray;
	border: 8px dashed ;
	margin: 10px 100px;
}
body
{
	background-color:  lightsteelblue;
}
footer
{
	background-color: cadetblue;
}
main h1
{
	font-family: 'Brush Script MT', cursive;
}
