*
		{
			font-family:'BebasNeue-Regular';
				src:url('https://Rakel22.github.io/bacs200/myblog_files/fonts/BebasNeue-Regular.ttf') format('truetype')
		}
		lable
		{
			font-family:'BebasNeue-Regular';
		}